<div class='header'>
  <h1>Chart for Novus</h1>
</div>


<div class="chart">
  <select>
    <option>Inventory </option>
    <option>Profits</option>
  </select>
  <div class="data"></div>
  <div class="bars"></div>
</div>
